Repository GustavoAmerico/SQLServerDeploy: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-dotnet-tool.yml, azure-pipelines-marketplace.yml

azure-pipelines-dotnet-tool.yml:
  queue:
    name: Hosted VS2017
  name: $(versionBase).$(Build.BuildId)
  steps:
  - task: DotNetCoreCLI@2
    displayName: dotnet restore
    inputs:
      command: restore
      projects: .netTool/Dacpac.Tool/*.csproj
  - task: DotNetCoreCLI@2
    displayName: dotnet build
    inputs:
  ...

azure-pipelines-marketplace.yml:
  pool:
    demands: npm
  name: 2.0.0.$(Build.BuildId)
  steps:
  - task: CmdLine@1
    displayName: NPM Install tfx-cli
    inputs:
      filename: npm
      arguments: install tfx-cli -g
  - task: Npm@1
    displayName: npm install
    inputs:
      workingDir: AzureDevOps
      verbose: false
  - task: CmdLine@1
  ...

Update azure-pipelines-marketplace.yml for Azure Pipelines
  azure-pipelines-marketplace.yml
Due: azure-pipelines-marketplace.yml

simplifying the azure script
  .netTool/Dacpac.Tool/Program.cs
  .vscode/settings.json
  AzureDevOps/SQLServerDeploy/Tasks/Install-Dotnet-Core.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/task.json
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeployMultpleDeploy/command.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeployMultpleDeploy/icon.png
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeployMultpleDeploy/task.json
  AzureDevOps/SQLServerDeploy/Tasks/functions-help.ps1
  AzureDevOps/SQLServerDeploy/vss-extension.json
  azure-pipelines-dotnet-tool.yml
  build-run.ps1
  deploy.Dockerfile
Due: azure-pipelines-dotnet-tool.yml, azure-pipelines-marketplace.yml

reorganize the repository
  .netTool/Dacpac.Tool.Tests/Dacpac.Tool.Tests.csproj
  .netTool/Dacpac.Tool.Tests/UnitTest1.cs
  .netTool/Dacpac.Tool/.dockerignore
  .netTool/Dacpac.Tool/.gitignore
  .netTool/Dacpac.Tool/DacPackageOptions.cs
  .netTool/Dacpac.Tool/Dacpac.Tool.csproj
  .netTool/Dacpac.Tool/Program.cs
  .netTool/DacpacToolSolution.sln
  AzureDevOps/SQLServerDeploy/Tasks/Install-Dotnet-Core.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  azure-pipelines-docker.yml
  azure-pipelines.yml
  readme.md
  src/AzureDevOps/SQLServerDeploy/.gitignore
  src/AzureDevOps/SQLServerDeploy/.vs/ProjectSettings.json
  src/AzureDevOps/SQLServerDeploy/.vs/SQLServerDeploy/v15/.suo
  src/AzureDevOps/SQLServerDeploy/.vs/VSWorkspaceState.json
  src/AzureDevOps/SQLServerDeploy/.vs/slnx.sqlite
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/icon.png
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/task.json
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/icon.png
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
  src/AzureDevOps/SQLServerDeploy/icon.png
  src/AzureDevOps/SQLServerDeploy/images/icon.png
  src/AzureDevOps/SQLServerDeploy/images/icon15x16.png
  src/AzureDevOps/SQLServerDeploy/images/screenshot_1.png
  src/AzureDevOps/SQLServerDeploy/images/screenshot_2.png
  src/AzureDevOps/SQLServerDeploy/readme-pt-br.md
  src/AzureDevOps/SQLServerDeploy/readme.md
  src/AzureDevOps/SQLServerDeploy/vss-extension.json
  src/AzureDevOps/package-lock.json
  src/AzureDevOps/package.json
Due: azure-pipelines-dotnet-tool.yml, azure-pipelines-marketplace.yml

reorganize the repository
  .netTool/Dacpac.Tool.Tests/Dacpac.Tool.Tests.csproj
  .netTool/Dacpac.Tool.Tests/UnitTest1.cs
  .netTool/Dacpac.Tool/.dockerignore
  .netTool/Dacpac.Tool/.gitignore
  .netTool/Dacpac.Tool/DacPackageOptions.cs
  .netTool/Dacpac.Tool/Dacpac.Tool.csproj
  .netTool/Dacpac.Tool/Program.cs
  .netTool/DacpacToolSolution.sln
  AzureDevOps/SQLServerDeploy/Tasks/Install-Dotnet-Core.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
  AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  AzureDevOps/SQLServerDeploy/readme.md
  azure-pipelines-docker.yml
  azure-pipelines.yml
  src/AzureDevOps/SQLServerDeploy/.gitignore
  src/AzureDevOps/SQLServerDeploy/.vs/ProjectSettings.json
  src/AzureDevOps/SQLServerDeploy/.vs/SQLServerDeploy/v15/.suo
  src/AzureDevOps/SQLServerDeploy/.vs/VSWorkspaceState.json
  src/AzureDevOps/SQLServerDeploy/.vs/slnx.sqlite
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/icon.png
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/task.json
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/icon.png
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
  src/AzureDevOps/SQLServerDeploy/icon.png
  src/AzureDevOps/SQLServerDeploy/images/icon.png
  src/AzureDevOps/SQLServerDeploy/images/icon15x16.png
  src/AzureDevOps/SQLServerDeploy/images/screenshot_1.png
  src/AzureDevOps/SQLServerDeploy/images/screenshot_2.png
  src/AzureDevOps/SQLServerDeploy/readme-pt-br.md
  src/AzureDevOps/SQLServerDeploy/readme.md
  src/AzureDevOps/SQLServerDeploy/vss-extension.json
  src/AzureDevOps/package-lock.json
  src/AzureDevOps/package.json
Due: azure-pipelines-dotnet-tool.yml, azure-pipelines-marketplace.yml

adjust yml build
  azure-pipelines-marketplace.yml
Due: azure-pipelines-marketplace.yml

removendo write-information
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/task.json
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
Due: none

add write trace and removing obsolete functions
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
Due: none

remove dependency from sqlpackage on build project
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
Due: none

adding nuget download functionality
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: none

adding nuget download functionality
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
Due: none

update command.ps1 parameters
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/command.ps1
Due: none

add files for automatic build
  azure-pipelines-marketplace.yml
  src/Tests/MsDeployTest/MsDeployTest.sln
  src/Tests/MsDeployTest/MsDeployTest.sqlproj
  src/Tests/MsDeployTest/Tenants.sql
Due: azure-pipelines-marketplace.yml

Atualizando as regras de definição de build
  azure-pipelines-marketplace.yml
Due: azure-pipelines-marketplace.yml

Atualizando as regras de definição de build
  azure-pipelines-marketplace.yml
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: azure-pipelines-marketplace.yml

build sql project test
  azure-pipelines-marketplace.yml
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: azure-pipelines-marketplace.yml

build sql project test
  azure-pipelines-marketplace.yml
Due: azure-pipelines-marketplace.yml

essa hora da noite só sai m$#@
  azure-pipelines-marketplace.yml
Due: azure-pipelines-marketplace.yml

essa hora da noite só sai m$#@
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: none

adding automatic test on build .sqlproj to .dacpac
  azure-pipelines-marketplace.yml
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: azure-pipelines-marketplace.yml

test automatic test
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: none

test test on build
  .vscode/settings.json
  azure-pipelines-marketplace.yml
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
Due: azure-pipelines-marketplace.yml

alterando metadados
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLDeploy/task.json
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/task.json
Due: none

add loggin on build file
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: none

Resolve-Path not has FullName
  src/AzureDevOps/SQLServerDeploy/Tasks/MSSQLPack/command.ps1
Due: none

Disable publish on sqlserver
  azure-pipelines-marketplace.yml
Due: azure-pipelines-marketplace.yml

Path conditions:
  azure-pipelines-dotnet-tool.yml: any of: .netTool, azure-pipelines-dotnet-tool.yml
  azure-pipelines-marketplace.yml: any of: AzureDevOps, azure-pipelines-marketplace.yml
